

$메인칼라 : #ff0000;

.red {
  color:$메인칼라;
}
* {
  text-align: center;
}

@mixin 함수() {
  background : #eeeeee;
  border-radius: 5px;
  max-width: 500px;
  width:100%;
  margin: auto;
  
}

.my-alert {
@include 함수()
}

.my-alert2 {
  @extend .my-alert;
  background: #ffe591;
}



.my-alert p {
  margin-bottom: 0;
}


//div.contatiner {
//  h4 {
//    color:green;
//  }
//p {
//color:green;
  //}

//}