html,
body {
  padding: 0;
  margin: 0 auto;
  width: 1000px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.table {
  display: block;
  margin-left: 23rem;
}

.searchBar {
  display: block;
  size: 1000px;
  width: 100%;
}

/* .searchBar_inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
} */

/* .transPatner {
position:relative;
} */

